:-root {
    --previewBg: rgba(189, 173, 127, 0.8);
    --purple: #62e6a4;    
    --mainColor     : #eaeaea;

}

* {
    margin    : 0;
    padding   : 0;
    box-sizing: border-box;
}
.container{
    background-color:rgba(233, 225, 201, 0.8);

}
.container .heading {
    font-size     : 3rem;
    padding: 3rem 0;
    text-transform: capitalize;
    color         : black;
    font-family   : 'Russo One', sans-serif;
    letter-spacing: .2rem;
    text-align    : center;
    text-shadow   : 0 .3rem .5rem rgba(0, 0, 0, .5);

}

.video-container {
    display        : flex;
    justify-content: center;
    flex-wrap      : wrap;

}

.video-container .video {
    height       : 50rem;
    width        : 32em;
    margin       : 2rem;
    box-shadow   : 0.5rem 1rem #61616180;
    overflow     : hidden;
    border-radius: 1rem;

}

.video-container .video .image {
    height    : 100%;
    width     : 100%;
    object-fit: cover;
    outline   : none;
    border    : none;
    cursor    : pointer;
}